body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; 
            margin: 0;
            font-family: Arial, sans-serif;
            text-align: center;

        }
        .button-container {
            display: flex;
            gap: 20px; 
            margin-top: 20px;
        }
        .btn {
            padding: 20px 40px;
            font-size: 1.5rem;
            text-decoration: none;
            color: #fff;
            background-color: #007bff;
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #0056b3;
        }